<!DOCTYPE html>
<body>
<meta charset="utf-8">
    <h1>Погода в первой точке</h1>
    <p>Температура: {{ temp1 }}°C</p>
    <p>Влажность: {{ hum1 }}%</p>
    <p>Скорость ветра: {{ speed1 }} км/ч</p>
    <p>Вероятность дождя: {{ pr1 }}%</p>
    <p>Анализ погоды: {{ weather1 }}</p>
    <p>Уровень погоды: {{ level1 }}</p>
    <h1>Погода во второй точке</h1>
    <p>Температура: {{ temp2 }}°C</p>
    <p>Влажность: {{ hum2 }}%</p>
    <p>Скорость ветра: {{ speed2 }} км/ч</p>
    <p>Вероятность дождя: {{ pr2 }}%</p>
    <p>Анализ погоды: {{ weather2 }}</p>
    <p>Уровень погоды: {{ level2 }}</p>
    <a href="/">Вернуться к выбору маршрута</a>
</body>
</html>
